.inventory-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.removeBtn {
  margin: 0.7rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(173, 53, 53);
  color: lightgray;
  font-size: 0.7rem;
  padding: 0 0.5rem 0 0.5rem;
}
